# login data
EMAIL=
PASSWD=

# Prod system
BACKEND_URL_PROD=https://backend.simod.de
EMAIL_PROD=${EMAIL}
PASSWD_PROD=${PASSWD}

# Int system
BACKEND_URL_INT=https://backend.int.simod.de
EMAIL_INT=${EMAIL}
PASSWD_INT=${PASSWD}

# Test system
BACKEND_URL_TEST=https://backend.test.simod.de
EMAIL_TEST=${EMAIL}
PASSWD_TEST=${PASSWD}

# Dev system
BACKEND_URL_DEV=https://backend.dev.simod.de
EMAIL_DEV=${EMAIL}
PASSWD_DEV=${PASSWD}
