/* Inline CSS for this specific page */

table.acc {
    border-collapse: unset !important;
    border-spacing: 10px;
}

table.acc td {
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    vertical-align: top;
}

table.acc h4 {
    margin-top: 6px;
}

table.acc td.red {
    background-color: #ffc7c6;
}

table.acc td.green {
    background-color: rgb(143, 228, 180);
}

table.acc td.blue {
    background-color: rgb(148, 215, 239);
}